
external-secrets:
  installCRDs: true
  replicaCount: 1

  commonAnnotations:
    argocd.argoproj.io/sync-wave: "100"

  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 128Mi

  webhook:
    create: false

  certController:
    create: false

  metrics:
    enabled: false
