# MongoDB (Auth Service)
MONGO_URI=mongodb://root:Triobank@1234@localhost:27017
MONGO_DB=auth_db

# MSSQL Connections
# Format: sqlserver://username:password@host:port?database=dbname
CLIENT_DB_URI=sqlserver://sa:TrioBank123@2024!@localhost:1433?database=client_db
ACCOUNT_DB_URI=sqlserver://sa:TrioBank123@2024!@localhost:1433?database=account_db
CARD_DB_URI=sqlserver://sa:TrioBank123@2024!@localhost:1433?database=card_db
TRANSACTION_DB_URI=sqlserver://sa:TrioBank123@2024!@localhost:1433?database=transaction_db
LEDGER_DB_URI=sqlserver://sa:TrioBank123@2024!@localhost:1433?database=ledger_db

# Seeding Configuration
TOTAL_USERS=50000
BATCH_SIZE=1000
