
enabled: true

build:
  enabled: false

commonAnnotations:
  argocd.argoproj.io/sync-wave: "500"

replicaCount: 1
version: 4.0.1
bootstrapServers: "kafka-kafka-bootstrap.triobank.svc.cluster.local:9092"

image: akyurekridvan2101/debezium-connect:3.3.0

config:
  plugin.path: "/opt/kafka/plugins"

  config.providers: file,directory
  config.providers.file.class: org.apache.kafka.common.config.provider.FileConfigProvider
  config.providers.directory.class: org.apache.kafka.common.config.provider.DirectoryConfigProvider
  
  group.id: connect-cluster
  offset.storage.topic: connect-offsets
  config.storage.topic: connect-configs
  status.storage.topic: connect-status

  key.converter: org.apache.kafka.connect.json.JsonConverter
  value.converter: org.apache.kafka.connect.json.JsonConverter
  key.converter.schemas.enable: false
  value.converter.schemas.enable: false

  config.storage.replication.factor: 1
  offset.storage.replication.factor: 1
  status.storage.replication.factor: 1

  topic.creation.enable: true
  topic.creation.default.partitions: 3
  topic.creation.default.replication.factor: 1
  topic.creation.compacted.cleanup.policy: compact

externalConfiguration:
  secretsToMount:
    - name: ledger-db-credentials
      secretName: ledger-db-credentials
