openapi: 3.0.3
info:
  title: Auth Service API
  version: 1.0.0
  description: |
    Bu servis, kullanıcı giriş, kayıt, token üretimi, token yenileme ve API Gateway middleware’i için token doğrulama işlemlerini yürütür.
    Access token'lar DB’de tutulmaz; yalnızca Refresh token saklanır.
    API Gateway her istekte access token doğrulamak için /auth/validation endpoint’ini kullanır.

servers:
  - url: http://localhost:3000/api/v1

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:

    EmptyObject:
      type: object
      example: {}

    LoginRequest:
      type: object
      required: [tc, password]
      properties:
        tc:
          type: string
          example: "11111111111"
        password:
          type: string
          example: "Password123"

    LoginResponse:
      type: object
      properties:
        sessionId:
          type: string
          description: Base64 URL encoded 32-byte session ID
          example: "YWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXo"

    ConfirmRequest:
      type: object
      required: [sessionId, code]
      properties:
        sessionId:
          type: string
          example: "YWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXo"
        code:
          type: string
          example: "1234"

    RegisterRequest:
      type: object
      required: [name, surname, email, password, tel, tc]
      properties:
        name: { type: string, example: "Ahmet" }
        surname: { type: string, example: "Yılmaz" }
        email: { type: string, example: "ahmet@example.com" }
        password: { type: string, example: "Guclupassword123" }
        tel: { type: string, example: "5551234567" }
        tc: { type: string, example: "11111111111" }

    TokenResponse:
      type: object
      properties:
        refreshToken: { type: string }
        accessToken: { type: string }

    RefreshRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken:
          type: string

    RefreshResponse:
      type: object
      properties:
        accessToken: { type: string }

    ValidationRequest:
      type: object
      required: [accessToken]
      properties:
        accessToken:
          type: string

    PasswordChangeRequest:
      type: object
      required: [yenipassword]
      properties:
        yenipassword:
          type: string
          example: "Yenipassword123!"

paths:

  /auth/login:
    post:
      tags: [Authentication]
      summary: Kullanıcı Girişi
      description: |
        Kullanıcı giriş bilgileri Auth DB’de doğrulanır.
        Bilgiler doğruysa sessionId ve doğrulama codeu üretilir.
        sessionId Base64 URL encoded bir random 32-byte değerdir.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginRequest' }
      responses:
        '200':
          description: Giriş başarılı, sessionId üretildi.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoginResponse' }
        '400':
          description: Eksik veya hatalı veri.
          content:
            text/plain:
              schema:
                type: string
                example: "the request body could not be decoded or the request may do not include password or tc fields"
        '401':
          description: TC veya şifre yanlış.
          content:
            text/plain:
              schema:
                type: string
                example: "the login inputs are invalid"
        '500':
          description: Sunucu hatası.
          content:
            text/plain:
              schema:
                type: string
                example: "while saving the session id into redis, an error occured"

  /auth/login/confirm:
    post:
      tags: [ Authentication ]
      summary: Giriş Onayı (SMS code Doğrulama)
      description: |
        Kullanıcı code doğruladıktan sonra:
        - Access token JSON body ile döner
        - Refresh token ise HttpOnly cookie olarak gönderilir.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ConfirmRequest' }
      responses:
        '200':
          description: Tokenlar üretildi.
          headers:
            Set-Cookie:
              description: |
                HttpOnly refresh token cookie.
                Örnek: Refresh-Token=<token>; HttpOnly; Secure; Path=/; Max-Age=604800
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                    example: "eyJhbGciOiJIUzI1NiIs..."
        '400':
          description: code hatalı veya session geçersiz.
        '401':
          description: code yanlış.
        '410':
          description: code süresi dolmuş.
        '500':
          description: Sunucu hatası.


  /auth/register:
    post:
      tags: [Registration]
      summary: Kullanıcı Kaydı Başlatma
      description: |
        Kullanıcı bilgileri kontrol edilir; yeni kullanıcı geçici olarak Redis'e kaydedilir ve SMS code gönderilir.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegisterRequest' }
      responses:
        '200':
          description: Kayıt başlatıldı, sessionId gönderildi.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoginResponse' }
        '409': { description: Kullanıcı zaten mevcut. }
        '500': { description: Sunucu hatası. }

  /auth/register/confirm:
    post:
      tags: [Registration]
      summary: Kayıt Onayı (SMS code Doğrulama)
      description: |
        SMS code doğrulanır, kullanıcı DB'ye kaydedilir ve tokenlar üretilir.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ConfirmRequest' }
      responses:
        '200':
          description: Kayıt tamamlandı, tokenlar üretildi.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenResponse' }
        '400': { description: code hatalı. }
        '410': { description: code süresi dolmuş. }
        '500': { description: Sunucu hatası. }

  /auth/logout:
    post:
      tags: [Token Operations]
      summary: Çıkış Yap
      security:
        - bearerAuth: []
      description: |
        Kullanıcı çıkış yaptığında refresh token DB’den silinir.
      responses:
        '200':
          description: Çıkış başarılı.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EmptyObject' }
        '401': { description: Geçersiz access token. }
        '500': { description: Sunucu hatası. }

  /auth/refresh:
    post:
      tags: [Token Operations]
      summary: Access Token Yenileme
      description: |
        Refresh token doğrulanır ve yeni access token üretilir.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RefreshRequest' }
      responses:
        '200':
          description: Yeni access token üretildi.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RefreshResponse' }
        '401': { description: Refresh token geçersiz. }
        '500': { description: Sunucu hatası. }

  /auth/validation:
    post:
      tags: [Token Operations]
      summary: Access Token Doğrulama
      description: |
        API Gateway tarafından kullanılır. Token geçerliyse 200 döner.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ValidationRequest' }
      responses:
        '200': { description: Token geçerli. }
        '401': { description: Token geçersiz. }
        '500': { description: Sunucu hatası. }

  /auth/password-change:
    post:
      tags: [Account Settings]
      summary: Şifre Değiştirme
      security:
        - bearerAuth: []
      description: |
        Kullanıcının şifresi güncellenir.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PasswordChangeRequest' }
      responses:
        '200': { description: Şifre güncellendi. }
        '400': { description: Yeni şifre formatı geçersiz. }
        '401': { description: Token geçersiz. }
        '500': { description: Sunucu hatası. }
