
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: dockerhub-credentials-external
  namespace: {{ .Release.Namespace }}
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: dockerhub-credentials
    creationPolicy: Owner
    template:
      type: kubernetes.io/dockerconfigjson
      data:
        .dockerconfigjson: |
          {
            "auths": {
              "https://index.docker.io/v1/": {
                "username": "{{ `{{ .username }}` }}",
                "password": "{{ `{{ .password }}` }}",
                "auth": "{{ `{{ printf "%s:%s" .username .password | b64enc }}` }}"
              }
            }
          }
  data:
    - secretKey: username
      remoteRef:
        key: secret/dev/infrastructure/dockerhub
        property: username
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
    - secretKey: password
      remoteRef:
        key: secret/dev/infrastructure/dockerhub
        property: password
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
