# Terraform state dosyaları
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example

# Crash log dosyaları
crash.log
crash.*.log

# Override dosyaları
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI yapılandırma dosyaları
.terraformrc
terraform.rc

