services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: AuthServiceZookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: AuthServiceKafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
  mongo:
    image: mongo:7.0
    container_name: AuthServiceDB
    ports:
      - "27017:27017"
    volumes:
      - mongodb_auth_data:/data/db
  redis:
    image: redis:7.0
    container_name: AuthServiceRedis
    ports:
      - "6379:6379"
volumes:
  mongodb_auth_data: